.App {
    margin: 0;
    padding: 0;
}

.background{
    background-color: rgb(199, 199, 243);
    background-image: url("./static/img/bg.jpg");
    width:100% ;  
    height:100% ;  
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    background-position: center;
}



.btn {
    margin: 0;
}

